@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <h1>List Blogs</h1>
</div>
<div class="container-fluid">
    <div class="card-body" style="padding-bottom: 50px;">
        <table id="example" class="table table-bordered table-hover" style="width: 100%">
            <thead>
                <tr class="project-actions text-center">
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Loại</th>
                    <th>Trạng thái</th>
                    <th style="width: 110px;">Vị trí</th>
                    <th>Ngày pubblic</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="myTable" style="text-align: center;">
            </tbody>
        </table>
    </div>
</div>
