body {
    padding-top: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
header .col-md-2 {
    text-align: center;
}

    header .col-md-2 img {
        padding-top: 10px;
    }

header .col-md-8 {
    text-align: left;
}

.wrapper .nav-item .nav-item {
    text-align: center;
    border: 1px solid;
    margin-left: 15px;
}

    .wrapper .nav-item .nav-item p {
        color: black;
    }

.content-wrapper {
    background: #fff;
}
.button {
    text-align: center;
}